* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body {
    color: white;
}
#sens {
  display: none;
}
.header {

    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 5px;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    z-index: 100;
  }
  
  .logo {
    position: relative;
    font-size: 30px;
    color: white;
    text-decoration: none;
    font-weight: 600;
  }

  .logo::before {
    content:'';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: .2s;

  }
  
  .navbar {
    display: flex;
    justify-content:flex-end;
    align-items: center;
    flex-grow: 1;
    margin-left: auto;
    margin-right: auto;
    max-width: 980px; /* Defina o valor máximo que você deseja para a largura da navegação */
  }
  
  .navbar a {
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 400;
    margin-left: 35px;
    transition: 0.3s;
  }
  
  .navbar a:hover,
  .navbar a.active {
    color: rgb(247, 152, 0);
  }

.menu {margin-top: 5px;
    font-size: 38px;
}
.menu a {
    color: white;
    text-decoration: none;
}
.home {
    height: 100vh;
    
    background: url(home.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%;
    
}
.home-content {
    max-width:600px ;
    
}
.home-content h1 {
    position: relative;
    font-size: 48px;
    margin-bottom: 5px;
    font-weight: 700;
    line-height: 1,2;
}
.home-content h1::before {
    content:'';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: .5s;

  }

.home-content h3 {
    position: relative;
    font-size: 28px;
    font-weight: 700;
    color: rgb(247, 152, 0);

}
.home-content h3::before {
    content:'';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.4s;

  }
.home-content p {
    position: relative;
    font-size:  16px;
    margin: 20px 0 40px;
}
.home-content p::before {
    content:'';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.6s;

  }

.home-content .btn-box {
    position: relative;
    width: 345px;
    height: 50px;
    justify-content: space-between;
    display: flex;
    font-size: 24px;

}
.home-content .btn-box:before{
    content:'';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.6s;
    z-index: 2;

}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: rgb(247, 152, 0);
    border: 2px solid rgb(247, 152, 0);
    border-radius: 8px;
    font-size:14px ;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
}

.btn-box a:hover{
    color:rgb(247, 152, 0) ;
}
.btn-box a:nth-child(2) {
    background: transparent;
    color: rgb(247, 152, 0) ;
}

.btn-box a:nth-child(2)::before {
    background: rgb(247, 152, 0);

}
.btn-box a:nth-child(2):hover {
    color: #000000;
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:#000000 ;
    z-index: -1;
    transition: .5s;
}
.btn-box a:hover:before{
    width: 100%;
}
.home-sci {
    position: absolute;
    bottom: 70px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}
.home-sci:before{
    content:'';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 2.5s;
    z-index: 2;

}
.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px; 
    background: transparent;
    border: 2px solid rgb(247, 152, 0);
    border-radius: 50% ;
    font-size: 18px;
    color: rgb(247, 152, 0);
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}
.home-sci a:hover {
    color: #000000;
}

.home-sci a::before{
   content: '';
   position: absolute ;
   top: 0;
   left: 0;
   width: 0;
   height: 100%;
   background: rgb(247, 152, 0);
   z-index: -1;
   transition: .5s;


}
.home-sci a:hover::before {
    width: 100%;
}

.home-imgHover {
    position: absolute;
    top: 0;
    right: 30px;
    width: 600px;
    height: 100%;
    background: transparent;
    transition: 3s;
    animation: manipActiveHover 1s forwards;
    animation-delay: 4s;
    pointer-events: none;
}

.home-imgHover:hover {
    opacity: .8;
    background: #081b29;

}
.home-imgHover::after{
    content:'';
    position: absolute;
    top: 0;
    right: 0;
    width: 115%;
    height: 100%;
    background: #081b29 ;
    animation: showRight 1s ease forwards;
    animation-delay: 3s;
    z-index: 100;
 }


@keyframes showRight {
    100% {
        width: 0;
    }
}

@keyframes manipActiveHover {
    100%{
        pointer-events:auto;
    }
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #01090f;
    height:100vh;
    
}

.about h2 {
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 2rem;
    
}

img.border {
    border-radius: 50%;
    width: 20vw;
}

.about-content {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: whitesmoke;
    background: var(--second-bg-color);
}
.about-content h3 {
    padding: 20px
}
.about-content p {
    padding: 20px  ;
}
a.btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 40px;
    background: rgb(247, 152, 0);
    border: 2px solid rgb(247, 152, 0);
    border-radius: 8px;
    font-size:14px ;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
}

.tec {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background: #01090f;
    height:100vh;
    
}

.tec-img {
    padding: 20px;
    display: flex;
    gap: 2rem;
    justify-content:space-between;

}
.tec h2 {
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 2rem;
}
.tech {
    background-color: #0b1721;
    width: 20vw;
    height: 20vw;
    border: 3px solid #031421;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.tecs {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 10vw;
 
}

